[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/theme_vim-colors-solarized"]
	path = .vim/bundle/theme_vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/snipmate_vim-addon-mw-utils"]
	path = .vim/bundle/snipmate_vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/snipmate_vim-snippets"]
	path = .vim/bundle/snipmate_vim-snippets
	url = https://github.com/honza/vim-snippets.git
